<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet" />
    <title>Text Analyzer</title>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="http://code.jquery.com/jquery-1.4.4.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/textanalyzer">TextAnalyzer.In</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/textanalyzer"> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
   <div class="container">
    <div class="alert alert-info alert-dismissible fade show" role="alert" style="background-color: ;">
        <strong>Welcome to TextAnalyzer!</strong> You can analyze your text here!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    
        <form action="/analyze" method="get" name="forminput" onsubmit="return submit_btncheck()">
            <br>
            <label for="exampleFormControlTextarea1">
                <h4> Please Enter Texts For Analyzing: </h4>
            </label>
            
            <textarea class="form-control" id="text" name="text" rows=" 8" style="resize: none; "></textarea>
             <div id="texterror"> </div> 
             <div style="text-align: left;"><h6>Words: <span id="countwords">0</span><span style="float:right;">   Characters: <span id="countcharacters">0</span></span></h6></div>

            <br>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="switch1" name="punctuationcheckbox"> </input>
                <label class="custom-control-label" for="switch1">Remove Punctuations </label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="switch2" name="extraspaceremover"> </input>
                <label class="custom-control-label" for="switch2">Remove Extra Spaces </label>
            </div>
            
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="switch4" name="newlineremover"> </input>
                <label class="custom-control-label" for="switch4">Remove New Lines </label>
            </div>
           <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="switch3" name="uppercasecheckbox"> </input>
                <label class="custom-control-label" for="switch3">Uppercase </label>
            </div>
    
        <div id="selectionerror"> </div>
        <br>
            <button type="submit" class="btn btn-dark">Analyze Text</button>
        </form>
    </div>
</body>

<script>
    var countword = document.getElementById('countwords');
    var countcharacter = document.getElementById('countcharacters');
    var input = document.getElementById('text');
    input.addEventListener('keyup', function(e){
  wordCounter(e.target.value);
});
    function wordCounter(text) {
  var text = input.value;
  var wordCount = 0;
  var charactercount = -1;
  for (var i = 0; i <= text.length; i++) {
    charactercount ++;
    if (text.charAt(i) == ' ') {
      wordCount++;
    }
  }
  countcharacter.innerText = charactercount;
  countword.innerText = wordCount;
}

    function submit_btncheck() {
    var text = document.forms["forminput"]["text"].value;
    var switch1=document.getElementById("switch1").checked;
    var switch2=document.getElementById("switch2").checked;
    var switch3=document.getElementById("switch3").checked;
    var switch4=document.getElementById("switch4").checked;
    
    console.log
    $('#texterror').empty();
    $('#selectionerror').empty();

    if (text == '') {

        
       
       mystr=  `<h6 style= 'color:red;'>Write texts that you want to Analyze!</h6>`
    $('#texterror').append(mystr);
    
       return false;
    }
    if(switch1 == false && switch2 == false && switch3 == false && switch4 == false)
    {
        
       
       mystr=  `<h6 style= 'color:red;'>! Select any Query</h6>`
    $('#selectionerror').append(mystr);

         return false;
    }
   

    
 }
 
</script>

</html>
